.search {
  height: 100px;
}

input[type="text"] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 15px;
  width: 700px;
  height: 70px;
  margin: auto;
  background-color: #f1f1f1;
  box-shadow: 25px 20px 10px 20px #a2f1a1;

}
